@use '../../helpers' as *;

.application-areas {

  &__list {
    --column-gap: #{rem(20)};
    --row-gap: #{rem(20)};

    @include tablet {
      --column-gap: #{rem(15)};
      --row-gap: #{rem(15)};
    }

    @include mobile {
      --column-gap: #{rem(10)};
      --row-gap: #{rem(10)};
    }
  }

  &__item {
    border-radius: var(--border-radius);
  }

  &__img-container {
    aspect-ratio: 413/500;
  }

  &__info {
    background: var(--color-accent-alt);
    padding: fluid(20, 15);
    height: 100%;
  }
}