@use '../../helpers' as *;

.our-products {
  background: var(--color-gray-bg-2);

  &__card {
    background: var(--color-light);
    border-radius: var(--border-radius);
  }

  &__img-container {
    aspect-ratio: 413/358;

    img {
      object-fit: contain;
    }
  }

  &__info, &__name {
    transition: color var(--transition-duration);
  }

  &__info {
    padding: fluid(20, 10);
  }

  &__name {
    margin-bottom: rem(10);
  }

  &__about {
    @include fluid-text(16, 14);
  }
}