@use '../../helpers' as *;

.our-services {

  &__list {
    --column-gap: #{rem(20)};
    --row-gap: #{rem(20)};

    @include tablet {
      --column-gap: #{rem(15)};
      --row-gap: #{rem(15)};
    }

    @include mobile {
      --column-gap: #{rem(10)};
      --row-gap: #{rem(10)};
    }
  }

  &__item {
    border-radius: var(--border-radius);
    padding: fluid(20, 10);
    gap: fluid(13, 8);

    &:not(.is-accent) {
      background: var(--color-gray-bg-2);
    }
    &.is-accent {
      background: var(--color-accent-alt);
    }
  }

  &__number {
    color: var(--color-gray);
  }

  &__right {
    gap: fluid(20, 10);
  }

  &__top {
    flex-grow: 1;
  }

  &__name {
    margin-bottom: rem(10);
  }
}