div.header-top
    div.header-top__inner.container.flex.flex-justify-center
        a(href="tel:+78123464081").header-top__link.text-w500 +7 (812) 346-40-81

        a(href="mailto:info@ekt-sbp.com").header-top__link.color-accent.text-w500 info@ekt-sbp.com