include header-bottom

mixin header(activeIndex = -1)
    include search

    header.header.position-relative
        include header-top

        +header-bottom(activeIndex)

        include burger-menu