div.search.z-1000.visible-tablet
    div.search__content.flex.flex-justify-center
        div.header__search.position-relative
            input(type="text" placeholder="Поиск").header__input.w-100

            button(type="button").header__search-btn.flex-center.hover-color-accent
                include ../../icons/search

        button(type="button").search__close Закрыть