section.news.section-p-block-50
    div.news__inner.container
        div.section__header
            p.application-areas__title.h3.section__subtitle.text-w500 Новости

        div.news__main.row.position-relative.overflow-hidden
            div.news__main-left.col-12.mb-col-6.flex.flex-column
                div.news__main-top
                    p.news__main-date 13.01.2024

                    p.news__main-title.h5
                        | Поставка ячеек переменного тока 27,5 Кв
                        br
                        |для казахских железный дорог

                    p.news__main-text.h6.text-w400 В 2024 году осуществлена поставка распределительного устройства 27,5 кВ на базе ячеек серии KR-27,5 STS для нужд Казахских железных дорог.

                include ../common/transparent-link

            div.news__main-img-container.img-container.col-12.mb-col-6
                img(src="/images/news.jpg" alt="")

        ul.news__list.row
            each item in Array(3)
                li.news__item.col-12.mb-col-4
                    a(href="#").news__link.w-100.h-100
                        div.news__left.flex.flex-column
                            div.news__top
                                p.news__text В 2024 году осуществлена поставка распределительного     устройства 27,5 кВ на базе ячеек серии KR-27,5 STS

                            p.news__date 13.01.2024

                        div.news__img-container.img-container
                            img(src="/images/news.jpg" alt="")
