extends ../components/layouts/base.pug

block title
    | Главная

block content
    section.banner.section-p-block
        div.banner__inner.container
            div.banner__content(style="--bg: url(/images/banner-bg.png)")
                h1.banner__title
                    | Российский разработчик
                    br
                    | и производитель электротехнического оборудования для объектов энергоснабжения

                a(href="#").banner__btn.button.accent.w-296 Отправить заявку