extends ../components/layouts/base.pug

block title
    | Главная

block content
    section.banner.section-p-block-50
        div.banner__inner.container
            div.banner__content(style="--bg: url(/images/banner-bg.png)")
                h1.banner__title
                    | Российский разработчик
                    br
                    | и производитель электротехнического оборудования для объектов энергоснабжения

                a(href="#").banner__btn.button.accent.w-296 Отправить заявку

    include ../components/blocks/about

    section.our-products.section-p-block-50
        div.our-products__inner.container
            div.our-products__header.flex.flex-align-center.flex-justify-between
                p.our-products__title.h3.section__subtitle.text-w500 Наша продукция

                div.our-products__actions.flex
                    button(type="button").our-products__btn.prev.flex-center.hover-color-accent
                        include ../components/icons/slider-arrow
                    button(type="button").our-products__btn.next.flex-center.hover-color-accent
                        include ../components/icons/slider-arrow

            div.our-products__slider.swiper
                div.swiper-wrapper
                    each item in ourProducts
                        a.our-products__card.swiper-slide.cursor-pointer
                            div.our-products__img-container.img-container.w-100
                                img(src=item.img alt=item.title)

                            div.our-products__info
                                p.our-products__name.h6= item.title

                                p.our-products__about= item.text

            div.our-products__pagination

            a(href="#").our-products__link.button.accent.w-296.m-auto Вся продукция
